<div id="editor" class="syntax notranslate safari doesWrap notitle loaded" autocorrect="off" autocomplete="off"
  data-ismac="true" tabindex="-1" contenteditable="true"
  style="font-family: &quot;SF Pro&quot;, Roboto, &quot;Droid Sans&quot;, Noto, Helvetica, Tahoma, Arial, &quot;Microsoft YaHei&quot;, 微软雅黑, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Heiti SC&quot;, sans-serif;background-color: rgb(255, 255, 255); left: auto; margin-left: auto; position: relative;">
  <div id="magicdomid2" class="ace-line" style="padding-left:120px;padding-right:120px;line-height:1.485714285714286;">
    <span contenteditable="false" style="display:none"></span></div>
  <div id="magicdomid106" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-center pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
    style="text-align: center; padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:1.7777777777777777;">
    <span
      style="background-color:#ffffff;font-weight: bold;color:#000000;font-family:宋体;font-size:9pt;letter-spacing:0pt;"
      class="author-p-9627909 background-color:#ffffff bold:true color:#000000 font-family:宋体 font-size:9pt letter-spacing:0pt">公司法定代表人变更登记申请</span>
  </div>
  <div id="magicdomid125" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　１、公司法定代表人签署的《公司变更登记申请书》（登记机关领取或网上下载，公司加盖公章）。
    </span></div>
  <div id="magicdomid126" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　２、《企业（公司）申请登记委托书》（登记机关领取或网上下载，公司加盖公章），应标明具体委托事项和被委托人的权限。
    </span></div>
  <div id="magicdomid127" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　３、原任法定代表人的免职证明、新任法定代表人的任职证明。
    </span></div>
  <div id="magicdomid128" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　有限责任公司根据本公司章程的规定和程序，提交股东会决议或董事会决议等，股东会决议由股东盖章或签字（自然人股东），董事会决议由董事签字。
    </span></div>
  <div id="magicdomid129" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　股份有限公司提交董事会决议，由董事签字。 </span>
  </div>
  <div id="magicdomid130" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　国有独资公司提交投资人的指定文件。 </span></div>
  <div id="magicdomid131" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　４、《公司（企业）法定代表人登记表》（登记机关领取或网上下载）审查意见由作出决定的单位签署：有限责任公司由股东会或董事会等盖章或签字。
    </span></div>
  <div id="magicdomid132" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　股份有限公司由董事签字。 </span></div>
  <div id="magicdomid133" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　国有独资公司由投资人盖章。 </span></div>
  <div id="magicdomid134" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　５、法律、行政法规规定变更公司法定代表人必须报经审批的，提交有关部门的批准文件。
    </span></div>
  <div id="magicdomid135" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　６、公司其他证件资料。 </span></div>
  <div id="magicdomid136" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　注：依照公司登记管理条例设立的公司申请法定代表人变更登记适用本规范。公司法定代表人变更涉及公司董事调整的应按《公司董事、监事、经理备案提交材料规范》提交相应的备案材料，相同项目材料可以合并；以上各项未注明提交复印件的，一般应提交原件；提交的复印件均需持原件到登记部门核对，不能提交原件的（身份证、计生证、许可证等除外）,由原件持有方核对复印件并加盖公章或签名并署明与原件一致。</span>
  </div>
  <div id="magicdomid84" class="ace-line longKeep gutter-noauthor"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt"><br></span>
  </div>
  <div id="magicdomid18" class="ace-line longKeep gutter-noauthor"
    style="padding-left:120px;padding-right:120px;line-height:1.485714285714286;"><br></div>
</div>
