<div id="editor" class="syntax notranslate safari doesWrap notitle loaded" autocorrect="off" autocomplete="off"
  data-ismac="true" tabindex="-1" contenteditable="true"
  style="font-family: &quot;SF Pro&quot;, Roboto, &quot;Droid Sans&quot;, Noto, Helvetica, Tahoma, Arial, &quot;Microsoft YaHei&quot;, 微软雅黑, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Heiti SC&quot;, sans-serif; background-color: rgb(255, 255, 255); left: auto; margin-left: auto; position: relative;">
  <div id="magicdomid2" class="ace-line" style="padding-left:120px;padding-right:120px;line-height:1.485714285714286;">
    <span contenteditable="false" style="display:none"></span></div>
  <div id="magicdomid24"
    class="ace-line gutter-noauthor text-align-type-center pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
    style="text-align: center; padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:1.7777777777777777;">
    <span
      style="background-color:#FFFFFF;font-weight: bold;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF bold:true color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">公司注册流程</span>
  </div>
  <div id="magicdomid5" class="ace-line gutter-noauthor text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">一、办理流程：&nbsp;</span>
  </div>
  <div id="magicdomid6" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">　　1、核名-执照-刻章-营业执照（三证一码执照）-银行开户许可证&nbsp;</span>
  </div>
  <div id="magicdomid7" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">　　2、注册公司时间：整个流程约为15个工作日&nbsp;</span>
  </div>
  <div id="magicdomid8" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">　　二、注册公司需要的资料：&nbsp;</span>
  </div>
  <div id="magicdomid9" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">　　1、公司名称（准备多几个，以供查询，以免重名）&nbsp;</span>
  </div>
  <div id="magicdomid10" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">　　2、经营范围（工商局允许注册的经营范围）&nbsp;</span>
  </div>
  <div id="magicdomid11" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">　　3、股东出资比例（不要求实缴注册资本，只需认缴方式出资）&nbsp;</span>
  </div>
  <div id="magicdomid12" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">　　4、法定代表人及股东身份证原件&nbsp;</span>
  </div>
  <div id="magicdomid13" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">　　5、法定代表人及股东是否广州户口的需提供计生证原件（50岁以下不需要）&nbsp;</span>
  </div>
  <div id="magicdomid14" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">　　6、注册资本：根据新公司法规定，公司注册资本不要求实缴注册资本，只需认缴方式出资。如果企业需要验资，也可验资。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      　　&nbsp;&nbsp;&nbsp; </span></div>
  <div id="magicdomid15"
    class="ace-line gutter-noauthor text-align-type-justify pap-firstline-indent-21.00pt pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:Arial;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:Arial font-size:8pt letter-spacing:0.00pt">7、注册地址，需要签署租赁合同，以下两种方式均可注册：&nbsp;</span>
  </div>
  <div id="magicdomid17" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">方式一：法定代表人与业主签署租赁合同后，业主到当地房屋管理中心备案租赁合同。
      <br> 方式二：业主提供房产证明复印件。&nbsp;</span></div>
  <div id="magicdomid18" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">　　三、注册完成后可取得相关证件：&nbsp;</span>
  </div>
  <div id="magicdomid19" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">　　1、三证一码的营业执照（三证包括：营业执照、税务登记证
      、组织机构代码）</span></div>
  <div id="magicdomid20" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">　　2、银行开户许可证&nbsp;</span>
  </div>
  <div id="magicdomid21" class="ace-line longKeep gutter-noauthor"
    style="padding-left:120px;padding-right:120px;line-height:1.485714285714286;"><br></div>
</div>
