<div id="editor" class="syntax notranslate safari doesWrap notitle loaded" autocorrect="off" autocomplete="off"
  data-ismac="true" tabindex="-1" contenteditable="true"
  style="font-family: &quot;SF Pro&quot;, Roboto, &quot;Droid Sans&quot;, Noto, Helvetica, Tahoma, Arial, &quot;Microsoft YaHei&quot;, 微软雅黑, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Heiti SC&quot;, sans-serif;background-color: rgb(255, 255, 255); left: auto; margin-left: auto;">
  <div id="magicdomid2" class="ace-line" style="padding-left:120px;padding-right:120px;line-height:1.485714285714286;">
    <span contenteditable="false" style="display:none"></span></div>
  <div id="magicdomid16" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-center pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
    style="text-align:center;padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:1.7777777777777777;">
    <span
      style="background-color:#ffffff;font-weight: bold;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="author-p-9627909 background-color:#ffffff bold:true color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">验资服务</span>
  </div>
  <div id="magicdomid4"
    class="ace-line gutter-noauthor text-align-type-left pap-firstline-indent-0.00pt pap-line-18.75pt pap-line-rule-atLeast pap-stylesheet-name-normal(web) emptyGutter"
    style="padding-left:120px;padding-right:120px;text-indent:0.00pt;line-height:1.3333333333333333;"><span
      style="background-color:#FFFFFF;font-weight: bold;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF bold:true color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">根据公司法最新规定，公司只需以认缴的方式注册，如果企业自己经营需要也可以自行实缴注册资本，进行验资。</span>
  </div>
  <div id="magicdomid5"
    class="ace-line gutter-noauthor text-align-type-left pap-firstline-indent-0.00pt pap-line-18.75pt pap-line-rule-atLeast pap-stylesheet-name-normal(web) emptyGutter"
    style="padding-left:120px;padding-right:120px;text-indent:0.00pt;line-height:1.3333333333333333;"><span
      style="background-color:#FFFFFF;font-weight: bold;color:#000000;font-family:宋体;font-size:9pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF bold:true color:#000000 font-family:宋体 font-size:9pt letter-spacing:0.00pt">&nbsp;</span><span
      style="background-color:#FFFFFF;font-weight: bold;color:#000000;font-family:Arial;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF bold:true color:#000000 font-family:Arial font-size:7.5pt letter-spacing:0.00pt">
      验资服务所提供的资料</span></div>
  <div id="magicdomid6" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt">　1．
      名称预先核准通知书（复印件）</span></div>
  <div id="magicdomid7" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt">　2．
      银行询证函（事务所提供，送银行签章后返还，原件）</span></div>
  <div id="magicdomid8" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt">　3．
      银行进账单（缴款单）</span></div>
  <div id="magicdomid9" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt">　4．
      银行存款余额通知书（验资机构栏，原件）</span></div>
  <div id="magicdomid10" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt">　5．
      股东身份证明(自然人--身份证复印件，法人--营业执照（国地税）副本复印件)</span></div>
  <div id="magicdomid11" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt">　6．
      股东会决议，公司章程</span></div>
  <div id="magicdomid12" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt">　7．
      公司注册地址及相关的产权证明文件、租约</span></div>
  <div id="magicdomid13" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt">　8．
      业务约定书（含管理当局声明书）</span></div>
  <div id="magicdomid14" class="ace-line gutter-noauthor text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.485714285714286;"><br></div>
  <div id="magicdomid15" class="ace-line longKeep gutter-noauthor"
    style="padding-left:120px;padding-right:120px;line-height:1.485714285714286;"><br></div>
</div>
