<div id="editor" class="syntax notranslate safari doesWrap notitle loaded" autocorrect="off" autocomplete="off"
  data-ismac="true" tabindex="-1"
  style="font-family: &quot;SF Pro&quot;, Roboto, &quot;Droid Sans&quot;, Noto, Helvetica, Tahoma, Arial, &quot;Microsoft YaHei&quot;, 微软雅黑, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Heiti SC&quot;, sans-serif; background-color: rgb(255, 255, 255); left: auto; ">
  <div id="magicdomid2" class="ace-line" style="padding-left:120px;padding-right:120px;line-height:1.485714285714286;">
    <span contenteditable="false" style="display:none"></span></div>
  <div id="magicdomid3"
    class="ace-line gutter-noauthor text-align-type-center pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
    style="text-align: center;padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:1.7777777777777777;">
    <span
      style="background-color:#FFFFFF;font-weight: bold;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF bold:true color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt">代理记帐</span>
  </div>
  <div id="magicdomid4"
    class="ace-line gutter-noauthor text-align-type-left pap-firstline-indent-21.00pt pap-right-indent-0.00pt pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
    style="padding-left:120px;padding-right:120px;text-indent:21.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:1.7777777777777777;">
    <span style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt">代理记账是指将本企业的会计核算、记账、报税等一系列的会计工作全部委托给专业记账公司完成，本企业只设立出纳人员，负责日常货币收支业务和财产保管等工作。</span>
  </div>
  <div id="magicdomid5"
    class="ace-line gutter-noauthor text-align-type-left pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
    style="padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:1.7777777777777777;">
    <span style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt">
      作为专业理财公司，我们的会计师具有娴熟的作账技巧合及丰富的实践经验。我们在运用高配置计算机及先进财务软件为客户完成、完备账目的同时，更注重发挥会计的管理职能，为企业坦言献策，防微杜渐。根据客户的行业特点，建议并及时调整业务运行，巧妙筹划税负，为您合理避税，轻松赚钱.具体工作如下：</span>
  </div>
  <div id="magicdomid6"
    class="ace-line gutter-noauthor text-align-type-left pap-firstline-indent-21.00pt pap-right-indent-0.00pt pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;">
    <span style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt">(1)代理建帐、记帐；</span>
  </div>
  <div id="magicdomid7" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt">
      (2)代理审核原始凭证，提出合理性建议；</span></div>
  <div id="magicdomid8" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt">
      (3)代理纳税申报。</span></div>
  <div id="magicdomid9" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt">
      (4)整理错账乱账</span></div>
  <div id="magicdomid10"
    class="ace-line gutter-noauthor text-align-type-left pap-right-indent-0.00pt pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
    style="padding-left:120px;padding-right:120px;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:1.7777777777777777;">
    <span style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt">2、代理企业会计内部职责</span>
  </div>
  <div id="magicdomid11" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt"> (1)
      整理会计原始单据，编制会计凭证，登记会计账簿，编制会计报表；</span></div>
  <div id="magicdomid12" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt"> (2)
      整理会计记录资料，协助管理会计档案；</span></div>
  <div id="magicdomid13" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt"> (3)
      定期或不定期提供公司经营的财务情况说明，并提出必要的建议和意见；</span></div>
  <div id="magicdomid14" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt"> (4)
      解答企业在会计核算和会计报告方面的日常问题。</span></div>
  <div id="magicdomid15"
    class="ace-line gutter-noauthor text-align-type-left pap-right-indent-0.00pt pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
    style="padding-left:120px;padding-right:120px;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:1.7777777777777777;">
    <span style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt">3、代理企业税务内部职责</span>
  </div>
  <div id="magicdomid16" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt"> (1)
      填写各项税务报表及附表，办理纳税申报，包括电子申报和语音申报；</span></div>
  <div id="magicdomid17" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt"> (2)
      根据企业的营业范围和实际经营情况，办理税收减免和退税的申请；</span></div>
  <div id="magicdomid18" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt"> (3)
      协助企业办理发票购领、税务局对发票的检查和发票缴销；</span></div>
  <div id="magicdomid19" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt"> (4)
      配合企业做好税务专项检查和临时稽查。</span></div>
  <div id="magicdomid20" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt"> (5)
      协助企业处理相应税务沟通，税务行政复议及申诉事项。</span></div>
  <div id="magicdomid21"
    class="ace-line gutter-noauthor text-align-type-left pap-right-indent-0.00pt pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
    style="padding-left:120px;padding-right:120px;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:1.7777777777777777;">
    <span style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt">4、代理企业内部稽核职责</span>
  </div>
  <div id="magicdomid22" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt"> (1)
      审核相应会计资料，确保会计帐务处理的原始单据符合国家的有关规定；</span></div>
  <div id="magicdomid23" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt"> (2)
      核实企业的现金及银行存款，有利于代理会计和企业出纳的相互监督；</span></div>
  <div id="magicdomid24" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt"> (3)
      协助做好各项审计前的自查和审计中的配合工作。</span></div>
  <div id="magicdomid25"
    class="ace-line gutter-noauthor text-align-type-left pap-right-indent-0.00pt pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
    style="padding-left:120px;padding-right:120px;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:1.7777777777777777;">
    <span style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt">5、提供常年财税顾问
    </span></div>
  <div id="magicdomid26" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt"> (1)
      根据企业情况设计适合企业的财务制度；</span></div>
  <div id="magicdomid27" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt"> (2)
      定期审核企业帐务，提出合理化建议；</span></div>
  <div id="magicdomid28" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt"> (3)
      针对企业出现的各类财税问题，提出最有效的建议。</span></div>
  <div id="magicdomid29"
    class="ace-line gutter-noauthor text-align-type-left pap-right-indent-0.00pt pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
    style="padding-left:120px;padding-right:120px;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:1.7777777777777777;">
    <span style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt">6、代理记账的优点
    </span></div>
  <div id="magicdomid30" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt">
      企业的会计账务是企业经营活动的记录，税务部门以此作为对企业进行征税、稽查的依据。任何企业都需要面临着国税和地税两个税务机关的稽查，而且税务稽查是具有可追溯性的，即是说稽查部门可以稽查企业以往年度的账务，并追究责任。显而易见地，企业如果不严格按要求建账记账，其风险和责任都很大的，而且风险的程度也难以评估。因此，企业选择会计人员或者会计服务，都应该十分慎重。企业要么需要聘用高素质的会计人员，既要熟悉会计准则，又要精通税法，加之会计是一个高度依赖经验的专业，其还需要一定的从业经验才能胜任。选用合格的会计人才，招聘有一定难度，而且工资成本不菲。当然，也可以聘请兼职的会计人员，但一旦发生工作失误，其责任的归属往往难以界定。
    </span></div>
  <div id="magicdomid31" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt">
      采用代理记账服务，较之企业聘用会计人员记账，有以下几个优点：</span></div>
  <div id="magicdomid32" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt"> 1.
      会计工作延续性更好。代理记账机构作为一个企业为客户提供服务，即使相关服务人员变动，也不会产生业务中断，避免由于企业内部人员流动造成工作中断和交接失误； </span></div>
  <div id="magicdomid33" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt"> 2.
      纳税申报及时准确。代理记账机构由于专业化程度更高，对各种涉税事务更清晰明了，比企业内部的财务人员更能够及时准确地进行精准地操作各项相关事务； </span></div>
  <div id="magicdomid34" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt"> 3.
      代理记账机构的会计人员的业务水平更有保障。代理记账机构的会计人员专业化程度更高，帐务处理的工作难度比一个企业内部的财务人员更大，接触面更广，因而业务水平会更高； </span></div>
  <div id="magicdomid35" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt"> 4.
      降低企业的招聘成本和管理成本。使用代理记账服务，企业无需考虑会计人员的住房、医疗、社会保险以及迁户、招调等问题； </span></div>
  <div id="magicdomid36" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt"> 5.
      降低工资成本。代理记帐与聘请一名专职会计所需费用相比较要低廉得多。而且代理记账机构拥有专业团队，能较好地理解和贯彻各种政策，确保企业账务处理、纳税申报的准确性、规范性和及时性。企业只要支付一个或不到一个会计人员的费用，即可享受专业化团队的服务，同时获得专业的咨询支持。</span>
  </div>
  <div id="magicdomid37"
    class="ace-line gutter-noauthor text-align-type-left pap-firstline-indent-21.00pt pap-right-indent-0.00pt pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
    style="padding-left:120px;padding-right:120px;text-indent:21.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:1.7777777777777777;">
    <span
      style="background-color:#FFFFFF;font-weight: bold;color:#000000;font-family:宋体;font-size:7.5pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF bold:true color:#000000 font-family:宋体 font-size:7.5pt letter-spacing:0.00pt">我司拥有经验丰富的会计师团队，用我们对技术的熟悉程度，和广为成熟的人脉，来为众多的企业解决运营中和筹建中的所有财税问题。</span>
  </div>
  <div id="magicdomid38" class="ace-line gutter-noauthor text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.485714285714286;"><br></div>
  <div id="magicdomid39" class="ace-line longKeep gutter-noauthor"
    style="padding-left:120px;padding-right:120px;line-height:1.485714285714286;"><br></div>
</div>
