<div id="editor" class="syntax notranslate safari doesWrap notitle loaded" autocorrect="off" autocomplete="off"
  data-ismac="true" tabindex="-1" contenteditable="true"
  style="font-family: &quot;SF Pro&quot;, Roboto, &quot;Droid Sans&quot;, Noto, Helvetica, Tahoma, Arial, &quot;Microsoft YaHei&quot;, 微软雅黑, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Heiti SC&quot;, sans-serif;background-color: rgb(255, 255, 255); left: auto; margin-left: auto; position: relative;">
  <div id="magicdomid2" class="ace-line" style="padding-left:120px;padding-right:120px;line-height:1.485714285714286;">
    <span contenteditable="false" style="display:none"></span></div>
  <div id="magicdomid24" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-center pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
    style="text-align: center; padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:1.7777777777777777;">
    <span
      style="background-color:#ffffff;font-weight: bold;color:#000000;font-family:宋体;font-size:9pt;letter-spacing:0pt;"
      class="author-p-9627909 background-color:#ffffff bold:true color:#000000 font-family:宋体 font-size:9pt letter-spacing:0pt">公司住所变更登记申请</span>
  </div>
  <div id="magicdomid85" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　１、法定代表人签署的《公司变更登记申请书》（登记机关领取或网上下载，公司加盖公章）。
    </span></div>
  <div id="magicdomid86" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　２、《企业（公司）申请登记委托书》（登记机关领取或网上下载，公司加盖公章），应标明具体委托事项和被委托人的权限。
    </span></div>
  <div id="magicdomid87" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　３、有限责任公司提交股东会决议，内容包括：决议事项、修改公司章程相关条款，由股东盖章或签字（自然人股东）。
    </span></div>
  <div id="magicdomid88" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　股份有限公司提交股东会决议内容包括：决议事项、修改公司章程相关条款，由发起人盖章或出席会议的董事签字。
    </span></div>
  <div id="magicdomid89" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　国有独资有限责任公司提交董事会决议，内容包括：决议事项、修改公司章程相关条款，由董事签字。
    </span></div>
  <div id="magicdomid90" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　４、公司章程修正案 </span></div>
  <div id="magicdomid91" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　有限责任公司由股东盖章或签字（自然人股东）。 </span>
  </div>
  <div id="magicdomid92" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　股份有限公司由发起人盖章或到会董事签字。 </span>
  </div>
  <div id="magicdomid93" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　国有独资有限责任公司由投资人盖章。 </span></div>
  <div id="magicdomid94" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　５、法律、行政法规规定变更住所必须报经有关部门批准的，提交有关部门的批准文件；
    </span></div>
  <div id="magicdomid95" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　６、新住所使用证明 </span></div>
  <div id="magicdomid96" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　自有房产提交产权证复印件；租赁房屋提交租赁协议原件或复印件以及出租方的产权证复印件；以上不能提供产权证复印件的，提交其它房屋产权使用证明复印件。
    </span></div>
  <div id="magicdomid97" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　７、公司其他证件资料。 </span></div>
  <div id="magicdomid100" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">注：依照公司登记管理条例设立的公司申请住所变更登记适用本规范。以上各项未注明提交复印件的一般均应提交原件；提交的复印件均需持原件到登记部门核对，不能提交原件的（身份证、计生证、许可证等除外）,由原件持有方核对复印件并加盖公章或签名并署明与原件一致。</span>
  </div>
  <div id="magicdomid84" class="ace-line longKeep gutter-noauthor"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt"><br></span>
  </div>
  <div id="magicdomid18" class="ace-line longKeep gutter-noauthor"
    style="padding-left:120px;padding-right:120px;line-height:1.485714285714286;"><br></div>
</div>
