<div id="editor" class="syntax notranslate safari doesWrap notitle loaded" autocorrect="off" autocomplete="off"
  data-ismac="true" tabindex="-1" contenteditable="true"
  style="font-family: &quot;SF Pro&quot;, Roboto, &quot;Droid Sans&quot;, Noto, Helvetica, Tahoma, Arial, &quot;Microsoft YaHei&quot;, 微软雅黑, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Heiti SC&quot;, sans-serif; background-color: rgb(255, 255, 255); left: auto; margin-left: auto; position: relative;">
  <div id="magicdomid2" class="ace-line" style="padding-left:120px;padding-right:120px;line-height:1.485714285714286;">
    <span contenteditable="false" style="display:none"></span></div>
  <div id="magicdomid21"
    class="ace-line gutter-noauthor text-align-type-center pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
    style="text-align: center; padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:1.7777777777777777;">
    <span
      style="background-color:#FFFFFF;font-weight: bold;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF bold:true color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">公司名称变更登记申请</span>
  </div>
  <div id="magicdomid5" class="ace-line gutter-noauthor text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">１、法定代表人签署的《公司变更登记申请书》（登记机关领取或网上下载，公司加盖公章）。&nbsp;</span>
  </div>
  <div id="magicdomid6" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">２、《企业（公司）申请登记委托书》（登记机关领取或网上下载，公司加盖公章），应标明具体委托事项和被委托人的权限。&nbsp;</span>
  </div>
  <div id="magicdomid7" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">３、有限责任公司提交股东会决议，内容包括：决议事项、修改公司章程相关条款，由股东盖章或签字（自然人股东）。&nbsp;</span>
  </div>
  <div id="magicdomid8" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">　　股份有限公司提交股东会决议内容包括：决议事项、修改公司章程相关条款，由发起人盖章或出席会议的董事签字。&nbsp;</span>
  </div>
  <div id="magicdomid9" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">　　国有独资有限责任公司提交董事会决议，内容包括：决议事项、修改公司章程相关条款，由董事签字。&nbsp;</span>
  </div>
  <div id="magicdomid10" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">４、法律、行政法规规定变更名称必须报经有关部门批准的，提交有关部门的批准文件。&nbsp;</span>
  </div>
  <div id="magicdomid11" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">５、公司章程修正案&nbsp;</span>
  </div>
  <div id="magicdomid12" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">　　有限责任公司由股东盖章或签字（自然人股东）。&nbsp;</span>
  </div>
  <div id="magicdomid13" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">　　股份有限公司由发起人盖章或出席会议的董事签字确认。&nbsp;</span>
  </div>
  <div id="magicdomid14" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">　　国有独资有限责任公司由投资人盖章。&nbsp;</span>
  </div>
  <div id="magicdomid15" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">６、公司其他证件资料。&nbsp;</span>
  </div>
  <div id="magicdomid16" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">　　注：依照公司登记管理条例设立的公司申请名称变更登记适用本规范。&nbsp;</span>
  </div>
  <div id="magicdomid17" class="ace-line gutter-noauthor emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt">　　以上各项未注明提交复印件的一般均应提交原件；提交的复印件均需持原件到登记部门核对，不能提交原件的（身份证、计生证、许可证等除外）,由原件持有方核对复印件并加盖公章或签名并署明与原件一致。</span>
  </div>
  <div id="magicdomid18" class="ace-line longKeep gutter-noauthor"
    style="padding-left:120px;padding-right:120px;line-height:1.485714285714286;"><br></div>
</div>
