<div id="editor" class="syntax notranslate safari doesWrap notitle loaded" autocorrect="off" autocomplete="off"
  data-ismac="true" tabindex="-1" contenteditable="true"
  style="font-family: &quot;SF Pro&quot;, Roboto, &quot;Droid Sans&quot;, Noto, Helvetica, Tahoma, Arial, &quot;Microsoft YaHei&quot;, 微软雅黑, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Heiti SC&quot;, sans-serif; background-color: rgb(255, 255, 255); left: auto; margin-left: auto; position: relative;">
  <div id="magicdomid2" class="ace-line" style="padding-left:120px;padding-right:120px;line-height:1.485714285714286;">
    <span contenteditable="false" style="display:none"></span></div>
  <div id="magicdomid159" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-center pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
    style="text-align: center; padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:1.7777777777777777;">
    <span
      style="background-color:#ffffff;font-weight: bold;color:#000000;font-family:宋体;font-size:9pt;letter-spacing:0pt;"
      class="author-p-9627909 background-color:#ffffff bold:true color:#000000 font-family:宋体 font-size:9pt letter-spacing:0pt">工商注销流程</span>
  </div>
  <div id="magicdomid196" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">一、 公司注销登记申请书 </span></div>
  <div id="magicdomid197" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　１、公司清算组织负责人签署的《公司注销登记申请书》（登记机关领取或网上下载，公司加盖公章）。
    </span></div>
  <div id="magicdomid198" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　２、《企业（公司）申请登记委托书》（登记机关领取或网上下载，公司加盖公章），应标明具体委托事项和被委托人的权限。
    </span></div>
  <div id="magicdomid199" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　３、有限责任公司、股份有限公司提交股东会决定公司注销的决议；有限责任公司股东会决议由股东盖章或签字（自然人股东）；股份有限公司股东会决议由发起人盖章或出席会议的董事签字。
    </span></div>
  <div id="magicdomid200" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　法院宣告公司破产或行政机关依法责令公司关闭的提交法院的裁定文件或行政机关的决定。
    </span></div>
  <div id="magicdomid201" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　国有独资有限责任公司提交国家授权投资的机构或者国家授权投资的部门的文件。
    </span></div>
  <div id="magicdomid202" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　４、公司清算组织成立文件： </span></div>
  <div id="magicdomid203" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　有限责任公司、股份有限公司提交股东会关于组织公司清算组织的决议；有限责任公司股东会决议由股东盖章或签字（自然人股东）；股份有限公司股东会决议由发起人盖章或出席会议的董事签字。
    </span></div>
  <div id="magicdomid204" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　法院宣告公司破产或行政机关依法责令公司关闭的，提交法院或者行政机关关于组织公司清算组织的文件。
    </span></div>
  <div id="magicdomid205" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　国有独资有限责任公司提交国家授权投资的机构或者国家授权投资的部门关于组织公司清算组织的文件。
    </span></div>
  <div id="magicdomid206" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　５、经确认的清算报告： </span></div>
  <div id="magicdomid207" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　有限责任公司、股份有限公司提交股东会关于确认公司清算报告的决议；有限责任公司股东会决议由股东盖章或签字（自然人股东）；股份有限公司股东会决议由发起人盖章或出席会议的董事签字。
    </span></div>
  <div id="magicdomid208" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　法院宣告公司破产或行政机关依法责令公司关闭的提交法院或者行政机关确认公司清算报告的文件。
    </span></div>
  <div id="magicdomid209" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　国有独资有限责任公司提交国家授权投资的机构或国家授权投资的部门关于确认公司清算报告的文件。
    </span></div>
  <div id="magicdomid210" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　６、法律、行政法规规定应当提交的其他文件。 </span>
  </div>
  <div id="magicdomid211" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　７、《企业法人营业执照》正、副本。 </span></div>
  <div id="magicdomid212" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　８、出示公司在报纸上刊登的三次清算公告。 </span>
  </div>
  <div id="magicdomid213" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
    class="ace-line gutter-author-p-9627909 text-align-type-justify pap-stylesheet-name-normal emptyGutter"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
      class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">注：依照公司登记管理条例登记的公司申请注销登记适用本规范。以上各项未注明提交复印件的一般均应提交原件；提交的复印件均需持原件到登记部门核对，不能提交原件的,由原件持有方核对复印件并加盖公章或签名并署明与原件一致（身份证、计生证、许可证等除外）,由原件持有方核对复印件并加盖公章或签名并署明与原件一致。</span>
  </div>
  <div id="magicdomid84" class="ace-line longKeep gutter-noauthor"
    style="padding-left:120px;padding-right:120px;line-height:1.7777777777777777;"><span
      style="background-color:#FFFFFF;color:#000000;font-family:宋体;font-size:8pt;letter-spacing:0.00pt;"
      class="background-color:#FFFFFF color:#000000 font-family:宋体 font-size:8pt letter-spacing:0.00pt"><br></span>
  </div>
  <div id="magicdomid18" class="ace-line longKeep gutter-noauthor"
    style="padding-left:120px;padding-right:120px;line-height:1.485714285714286;"><br></div>
</div>
