<div class="container">
  <app-header [selectId]="5"></app-header>
  <div style="height:20px;"></div>
  <div id="editor" class="syntax notranslate safari doesWrap notitle loaded" autocorrect="off" autocomplete="off"
    data-ismac="true" tabindex="-1" contenteditable="true"
    style="font-family: &quot;SF Pro&quot;, Roboto, &quot;Droid Sans&quot;, Noto, Helvetica, Tahoma, Arial, &quot;Microsoft YaHei&quot;, 微软雅黑, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Heiti SC&quot;, sans-serif; background-color: rgb(255, 255, 255); left: auto; margin-left: auto; position: relative;">
    <div id="magicdomid2" class="ace-line"
      style="padding-left:120px;padding-right:120px;line-height:1.485714285714286;"><span contenteditable="false"
        style="display:none"></span></div>
    <div id="magicdomid214" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
      class="ace-line gutter-author-p-9627909 text-align-type-start pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-line-18.75pt pap-line-rule-exact pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
      style="padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:25.00px;overflow:hidden;">
      <span style="font-weight: bold;font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
        class="author-p-9627909 bold:true font-family:Arial, Helvetica, sans-serif font-size:9pt">　　</span><span
        style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
        class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">实行查账征收企业所得税的居民企业（包括境外注册中资控股居民企业应当在纳税年度终了之日起
        5个月内，在年度中间终止经营活动的应当在实际终止经营之日起60
        日内，依照税收法律、法规、规章及其他有关规定，自行计算本纳税年度应纳税所得额、应纳所得税额和本纳税年度应补（退）税额，向税务机关提交《中华人民共和国企业所得税年度纳税申报表（A
        类，2014年版）》及其他有关资料，进行年度纳税申报。</span></div>
    <div id="magicdomid215" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
      class="ace-line gutter-author-p-9627909 text-align-type-start pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-line-18.75pt pap-line-rule-exact pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
      style="padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:25.00px;overflow:hidden;">
      <span style="font-weight: bold;font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
        class="author-p-9627909 bold:true font-family:Arial, Helvetica, sans-serif font-size:9pt">　　纳税年度中间新开业（包括试生产、试经营）或纳税年度中间终止经营活动的纳税人，无论是否在减税、免税期间，也无论盈利或亏损，均应按照企业所得税法及其实施条例和有关规定进行居民企业所得税年度申报。</span>
    </div>
    <div id="magicdomid216" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
      class="ace-line gutter-author-p-9627909 text-align-type-start pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-line-18.75pt pap-line-rule-exact pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
      style="padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:25.00px;overflow:hidden;">
      <span style="font-weight: bold;font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
        class="author-p-9627909 bold:true font-family:Arial, Helvetica, sans-serif font-size:9pt">　　申报期限最后一天为法定休假日的，根据《中华人民共和国税收征收管理法实施细则》第一百零九条的规定，以休假日期满的次日为期限的最后一日。</span>
    </div>
    <div id="magicdomid217" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
      class="ace-line gutter-author-p-9627909 text-align-type-start pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-line-18.75pt pap-line-rule-exact pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
      style="padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:25.00px;overflow:hidden;">
      <span style="font-weight: bold;font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
        class="author-p-9627909 bold:true font-family:Arial, Helvetica, sans-serif font-size:9pt">　　设定依据：1.《中华人民共和国企业所得税法》第五十四条</span>
    </div>
    <div id="magicdomid218" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
      class="ace-line gutter-author-p-9627909 text-align-type-start pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-line-18.75pt pap-line-rule-exact pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
      style="padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:25.00px;overflow:hidden;">
      <span style="font-weight: bold;font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
        class="author-p-9627909 bold:true font-family:Arial, Helvetica, sans-serif font-size:9pt">　　2.《中华人民共和国企业所得税法实施细则》第一百二十九条</span>
    </div>
    <div id="magicdomid219" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
      class="ace-line gutter-author-p-9627909 text-align-type-start pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-line-18.75pt pap-line-rule-exact pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
      style=" padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:25.00px;overflow:hidden;">
      <span style="font-weight: bold;font-family:Arial, Helvetica, sans-serif;font-size:8pt;"
        class="author-p-9627909 bold:true font-family:Arial, Helvetica, sans-serif font-size:8pt">所得税汇算清缴所需资料</span>
    </div>
    <div id="magicdomid220" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
      class="ace-line gutter-author-p-9627909 text-align-type-start pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-line-18.75pt pap-line-rule-exact pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
      style="padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:25.00px;overflow:hidden;">
      <span style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
        class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　1、12月31日资产负债表，12月份损益表，现金流量表，未经审核的年度企业所得税纳税申报表及缴款书、所有季度纳税申报表及税票、发票使用情况汇总表。</span>
    </div>
    <div id="magicdomid221" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
      class="ace-line gutter-author-p-9627909 text-align-type-start pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-line-18.75pt pap-line-rule-exact pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
      style="padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:25.00px;overflow:hidden;">
      <span style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
        class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　2、科目余额明细表---列至最末级。</span>
    </div>
    <div id="magicdomid222" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
      class="ace-line gutter-author-p-9627909 text-align-type-start pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-line-18.75pt pap-line-rule-exact pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
      style="padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:25.00px;overflow:hidden;">
      <span style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
        class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　3、损益类科目总账页复印件。(另可取所有帐本包括总帐，明细帐，现金帐，银行帐)</span>
    </div>
    <div id="magicdomid223" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
      class="ace-line gutter-author-p-9627909 text-align-type-start pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-line-18.75pt pap-line-rule-exact pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
      style="padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:25.00px;overflow:hidden;">
      <span style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
        class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　4、每月2-4张记账凭证及后附原始凭证的复印件。(另可取所有凭证)</span>
    </div>
    <div id="magicdomid224" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
      class="ace-line gutter-author-p-9627909 text-align-type-start pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-line-18.75pt pap-line-rule-exact pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
      style="padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:25.00px;overflow:hidden;">
      <span style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
        class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　5、银行对帐单（全年或年末）复印件及银行余额调节表；现金盘点表；存货盘点表、固定资产盘点表。</span>
    </div>
    <div id="magicdomid225" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
      class="ace-line gutter-author-p-9627909 text-align-type-start pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-line-18.75pt pap-line-rule-exact pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
      style="padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:25.00px;overflow:hidden;">
      <span style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
        class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　6、业务招待费明细（按月列明）。</span></div>
    <div id="magicdomid226" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
      class="ace-line gutter-author-p-9627909 text-align-type-start pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-line-18.75pt pap-line-rule-exact pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
      style="padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:25.00px;overflow:hidden;">
      <span style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
        class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　7、1—12按月份公司人员人数及工资表。</span>
    </div>
    <div id="magicdomid227" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
      class="ace-line gutter-author-p-9627909 text-align-type-start pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-line-18.75pt pap-line-rule-exact pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
      style="padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:25.00px;overflow:hidden;">
      <span style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
        class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　8．长期投资、短期投资、长期借款和短期借款合同复印件。</span>
    </div>
    <div id="magicdomid228" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
      class="ace-line gutter-author-p-9627909 text-align-type-start pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-line-18.75pt pap-line-rule-exact pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
      style="padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:25.00px;overflow:hidden;">
      <span style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
        class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　9、公司章程、验资报告（含增资报告）、营业执照副本、税务登记证。如有变更，需提供变更前后的。技术监督局代码证书、银行开户许可证（核准件）。</span>
    </div>
    <div id="magicdomid229" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
      class="ace-line gutter-author-p-9627909 text-align-type-start pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-line-18.75pt pap-line-rule-exact pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
      style="padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:25.00px;overflow:hidden;">
      <span style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
        class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　10、如为特殊行业，需提供特殊行业执行的相关行业会计制度。（可选择提供）</span>
    </div>
    <div id="magicdomid230" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
      class="ace-line gutter-author-p-9627909 text-align-type-start pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-line-18.75pt pap-line-rule-exact pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
      style="padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:25.00px;overflow:hidden;">
      <span style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
        class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　11、单位内部管理制度及相关的内部控制制度。</span>
    </div>
    <div id="magicdomid231" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
      class="ace-line gutter-author-p-9627909 text-align-type-start pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-line-18.75pt pap-line-rule-exact pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
      style="padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:25.00px;overflow:hidden;">
      <span style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
        class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　12、如享有税收优惠政策，需提供减免税相关批文。</span>
    </div>
    <div id="magicdomid232" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
      class="ace-line gutter-author-p-9627909 text-align-type-start pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-line-18.75pt pap-line-rule-exact pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
      style="padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:25.00px;overflow:hidden;">
      <span style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
        class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　13、如有已经报税务机关备案的税前扣除项目，需提供相关项目复印件。</span>
    </div>
    <div id="magicdomid233" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
      class="ace-line gutter-author-p-9627909 text-align-type-start pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-line-18.75pt pap-line-rule-exact pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
      style="padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:25.00px;overflow:hidden;">
      <span style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
        class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　14、如有重要经营合同需提供：如房租合同、供销合同、大额买卖合同等。</span>
    </div>
    <div id="magicdomid234" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
      class="ace-line gutter-author-p-9627909 text-align-type-start pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-line-18.75pt pap-line-rule-exact pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
      style="padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:25.00px;overflow:hidden;">
      <span style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
        class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　15、如有关联企业，需提供关联企业名单。</span>
    </div>
    <div id="magicdomid235" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
      class="ace-line gutter-author-p-9627909 text-align-type-start pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-line-18.75pt pap-line-rule-exact pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
      style="padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:25.00px;overflow:hidden;">
      <span style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
        class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　16、如上一年度有审核报告，还需提供上一年度中介机构出具的纳税鉴证报告。</span>
    </div>
    <div id="magicdomid236" data-author-initials="无" data-author-name="无奈的觉悟" data-author-link=""
      class="ace-line gutter-author-p-9627909 text-align-type-start pap-firstline-indent-0.00pt pap-right-indent-0.00pt pap-line-18.75pt pap-line-rule-exact pap-spacing-before-15.60pt pap-spacing-after-15.60pt pap-stylesheet-name-normal(web) emptyGutter"
      style="padding-left:120px;padding-right:120px;text-indent:0.00pt;margin-right:0.00pt;margin-top:15.60pt;margin-bottom:15.60pt;line-height:25.00px;overflow:hidden;">
      <span style="font-family:Arial, Helvetica, sans-serif;font-size:9pt;"
        class="author-p-9627909 font-family:Arial, Helvetica, sans-serif font-size:9pt">　　17、如为高新技术企业，需提供高新技术企业审批表。</span>
    </div>
  </div>
  <app-bottom></app-bottom>
</div>
