<div class="flex jc-end top" style="margin:10px 0 5px 0;">
  <a href="javascript:;" style="color:#333;font-size:14px;">联系我们</a>
</div>
<div class="title flex jc-between ai-center">
  <p>平顶山市京科财税服务有限公司</p>
  <section class="flex ai-center">
    <img style="margin-right:10px;" src="/assets/icons/phone1.gif" alt="">
    <p>服务热线：0375-7050270</p>
  </section>
</div>
<img src="/assets/imgs/timg1.jpg" style="margin-top:30px;" width="1000" height="300" alt="">
<div class="nav flex ai-center">
  <a href="javascript:;">网站首页</a>
  <span>|</span>
  <a href="javascript:;">代理记账</a>
  <span>|</span>
  <a href="javascript:;">工商注册</a>
  <span>|</span>
  <a href="javascript:;">税盘托管</a>
</div>
